<nav class='flex space-evenly'>
	<div class='nav-left'>
		<img src='/images/logo.png' alt='Logo' />
	</div>
	<div class='nav-right'>
		<ul class='flex space-between'>
			<li><a href='/'>Home</a></li>
			<li><a href='/about'>About</a></li>
		</ul>
	</div>
</nav>