* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Raleway sans-serif;
}
h1,
h2,
h3 {
	font-family: 'Courier New', Courier, monospace;
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.space-evenly {
	justify-content: space-evenly;
}
