/* Homepage */
.homepage-form {
	width: 30%;
	margin: auto;
	margin-top: 50px;
}

/* Nav Style */
nav {
	padding: 10px 20px;
}
nav li {
	display: inline;
	margin-right: 50px;
}
nav a {
	text-decoration: none;
	color: gray;
}
nav img {
	width: 50px;
}

/* Main Body Style */
main {
	height: 70vh;
}

/* GET Exercise Table */
table {
	text-align: center;
	width: 80%;
	margin: auto;
}
