{{>header}}

<h1>Add Workout Here</h1>
<form action="POST">
    <label for="name">Exercise Name: </label>
    <input type="text" name="name"><br>
    <label for="description">Exercise Description: </label>
    <textarea name="description" cols="30" rows="7"></textarea>
</form>

{{footer}}