{{>header}}
{{>navbar}}

<ul>
    <li><a href="/exercise/getExercise">Get All Exercise</a></li>
    <li><a href="/exercise/getExercise/:id">Get One Exercise</a></li>
    <li><a href="/exercise/addExercise">Add Exercise</a></li>
    <li><a href="/exercise/updateExercise">Update Exercise</a></li>
    <li><a href="/exercise/deleteExercise">Delete Exercise</a></li>
</ul>

{{>footer}}